<!-- <h1>hello world</h1>
<h2>hello World!</h2>
<app-home></app-home> -->
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
    <li><a routerLink="/templateform" routerLinkActive="active" ariaCurrentWhenActive="page">Temlate Driven Form Component</a></li>
    <li><a routerLink="/reactiveform" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive Form Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>